@using X.PagedList.Mvc.Core
<!--define um view do tipo PagedLis-->
@model X.PagedList.IPagedList<ExemploEF.Models.Produto>

@{
    ViewData["Title"] = "Listagem de Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Preço
            </th>
            <th>
                Fabricante
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
    <!--Insere o navegador de páginas-->
    @Html.PagedListPager(Model, pagina => Url.Action("Index",new {pagina}))
</div>
